body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #535C91;
}

textarea {
	border: none;
	resize: none;
	background-color: #535C91;
}

textarea:focus {
	outline: none;
}

.custom-textarea::placeholder {
    color: rgb(5, 5, 5);
}


.save {
	background-color: #2f3652;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #073785;
	cursor: pointer;
}

.note {
	background-color: #2f3652;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: whitesmoke;
}

.delete-icon {
	cursor: pointer;
}

.delete-icon:hover {
	color: rgb(242, 8, 8);
}

.search {
	display: flex;
	align-items: center;
	background-color: #535C91;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.search input {
	border: none;
	background-color: #535C91;
	width: 100%;;
}

.search input:focus {
	outline: none;
}

.note span{
	color: whitesmoke;
}

